@model Author
@{
    Layout = "";
}
<div asp-validation-summary="ModelOnly" class="text-danger"></div>
<h2 class="text-info pl-3">Add Author</h2>
<div class="col col-4">
    <div>
        <label asp-for="Name">Name:</label>
        <input asp-for="Name" class="form-control" />
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div>
        <label asp-for="HomeTown">Home Town:</label>
        <input asp-for="HomeTown" class="form-control" />
        <span asp-validation-for="HomeTown" class="text-danger"></span>
    </div>
    test

</div>