@model Author
@{
    Layout = "";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<h1 style="text-align:center">@Model.Name</h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-3">
            <p>@Model.HomeTown</p>
        </div>
    </div>
</div>
