@model Author
@{
    Layout = "_Layout";
}


<h1 style="text-align:center">@Model.Name</h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-3">
            <p>@Model.HomeTown</p>
        </div>
    </div>
</div>
