@model IEnumerable<Author>
@{
    Layout = "";
}
<head>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>

<div class="list-group col-6">
    @foreach (var author in Model)
    {
        <button type="button" class="list-group-item list-group-item-action" aria-current="true" onclick="parent.SendAuthor('@author.Id')">
            @author.Name
        </button>
    }

</div>



