@model Book
@{
    Layout = "_Layout";
}

<h1 style="text-align:center">@Model.Name</h1>
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto" style="width:200px">
            <img src="@Model.PicLink" alt="No pic" width="200" height="250" />
            <br /><br />

            @*<input type="submit" value="Add Review" asp-controller="Review" asp-action="CreateReview"/>*@
            <input type="submit" value="Add Review" onclick="location.href='@Url.Action("CreateReview", "Review", new { bookId = Model.Id})'"/>
            <br />
            <input type="submit" name="deleteBook" value="Delete Book" />
            <br />
            <input type="submit" name="editBook" value="Edit Book" />
        </div>
        <div class="col-3">
            <p>@Model.Description</p>
        </div>

    </div>

</div>




