@model Book
@{
    Layout = "_Layout";
}

<form method="post" enctype="multipart/form-data" asp-action="Create">
    <div class="border p-3">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <h2 class="text-info pl-3">Add Book</h2>
                    <div class="col-7">
                        <div>
                            <label asp-for="Name">Title:</label>
                            <input asp-for="Name" class="form-control" />
                            <span asp-validation-for="Name" class="text-danger"></span>
                        </div>
                        <div>
                            <label asp-for="Description">Description:</label>
                            <textarea asp-for="Description" class="form-control"></textarea>
                            <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="ImageFile" class="control-label"></label>
                            <input asp-for="ImageFile" accept="image/*" />
                            <span asp-validation-for="ImageFile" class="text-danger"></span>
                        </div>


                        <div class="col p-0">
                            <label>Search Author:</label>
                            <input type="text" id="authorName" class="form-control" value="" />
                        </div>
                        
                        <button type="button" class="btn btn-outline-info" onclick="urlChange()">Search</button>
                        


                        <div class="col p-0">
                            <label asp-for="AuthorId">
                                Author Id:
                                <p style="font-size: 10px">Automatically fills up when an author is selected from the search result.</p>
                            </label>
                            <input type="text" id="authorId" asp-for="AuthorId" readonly class="form-control" value="" />
                            <span asp-validation-for="AuthorId" class="text-danger"></span>
                        </div>



                        <div>
                            <label asp-for="GenreId">Genre:</label>
                            <select asp-for="GenreId" class="form-control">
                                @*Här ska det in en foreachloop som lägger till genres, typ*@
                                @foreach (var genre in ViewData["genres"] as IEnumerable<Genre>)
                                {
                                    <option value="@genre.Id">@genre.GenreName</option>

                                }

                            </select>
                            <span asp-validation-for="GenreId" class="text-danger"></span>
                            <br />
                            <button class="btn btn-primary">Add Book</button>
                        </div>
                    </div>
                </div>
                <div class="col custom-class">
                    <iframe id="AuthorIframe" src="" style="width:100%;height:50vh;overflow:scroll;border: 1px solid black;">
                    </iframe>

                </div>
            </div>
        </div>


    </div>
</form>

<script>
    function urlChange() {

        document.getElementById('AuthorIframe').src = '/Author/SearchAuthor?name=' + document.getElementById('authorName').value
    }
</script>
<script>
    function SendAuthor(input) {
        var id = input;
        document.getElementById('authorId').value = id;
    }
</script>
<script>
    function changeIframe() {
        document.getElementById('AuthorIframe').src = '/Author/Create';

    }
</script>
