@model IEnumerable<Book>
@{
    ViewData["Title"] = "Genres";
    Layout = "_Layout";
}

@if (Model != null)
{
    @foreach (var book in Model)
    {
        <div class="container">
            <div class="row">
                <div class="col">
                    <img src="@book.PicLink" alt="Sorry, no pic" width="50" height="60" />
                </div>
                <div class="col">
                    <b>@book.Name</b>
                </div>
                <div class="col">
                    <button class="btn btn-dark">Details</button>
                </div>
            </div>
        </div>
        <br/>

    }

}
