@model IEnumerable<Book>
@{
    ViewData["Title"] = "Genres";
    Layout = "_Layout";
}
<section id="Body">
    <div class="container">
        @foreach (var book in Model)
        {
            <div>
                @book.Name
            </div>
        }
    </div>
</section>
