@model IEnumerable<Genre>
@{
    ViewData["Title"] = "Home Page";
}

<section>
    <table>
        <tr>
            <th>Genre</th>            
        </tr>
        @foreach (var item in Model)
        {
            <tr><td><a asp-action="BooksByGenre" asp-route-id="@item.Id">@item.GenreName</a></td></tr>
        }
    </table>
</section>
