
@{
    ViewData["Title"] = "Lists";
}

@*<div class="container">


    <button type="button" class="btn btn-secondary" onclick="urlChange('/Home/BooksIframe')">Books</button>
    <button type="button" class="btn btn-secondary" onclick="urlChange('/Home/AuthorIframe')">Authors</button>
</div>*@
<ul class="nav nav-tabs">
    <li class="nav-item" id="book">
        <a class="nav-link active" data-bs-toggle="tab" aria-current="page" onclick="urlChange('/Home/BooksIframe')">Book</a>
    </li>
    <li class="nav-item" id="author">
        <a class="nav-link" data-bs-toggle="tab" onclick="urlChange('/Home/AuthorIframe')">Authors</a>
    </li>
</ul>
<br />


<script>
    function urlChange(url) {
        document.getElementById('InfoDisplay').src = url;
    }
</script>
<script>
    var triggerTabList = [].slice.call(document.querySelectorAll('author'))
    triggerTabList.forEach(function (triggerEl) {
        var tabTrigger = new bootstrap.Tab(triggerEl)

        triggerEl.addEventListener('click', function (event) {
            event.preventDefault()
            tabTrigger.show()
        })
    })
</script>

<iframe id="InfoDisplay" src="/Home/BooksIframe" style="width:100%;height:50vh;overflow:scroll;border: 1px solid black;">
</iframe>








