
@{
    ViewData["Title"] = "Lists";
}

<div class="container">


    <button type="button" class="btn btn-secondary" onclick="urlChange("./../")">Books</button>
    <button type="button" class="btn btn-secondary" onclick="showUrl()">Authors</button>
</div>

<br />


<script>
    function urlChange(url) {
        document.getElementById('InfoDisplay').src = url;
    }
</script>

<iframe id="InfoDisplay" src="about:blank" style="width:100%;height:50vh;overflow:scroll;border: 1px solid black;">
</iframe>








